@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './styles/media.scss';
@import './styles/reset.scss';
@import './styles/colors.scss';

body {
    font-family: 'Pretendard', sans-serif;
    overflow-x: hidden;
}

.title {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url('./images/background.gif');
    background-repeat: repeat;
    background-size: cover;
    background-position: 0 -200px;
    background-attachment: fixed;

    h5 {
        text-align: center;
        font-family:  'Montserrat', sans-serif;
        font-weight: 400;
        font-style: italic;
        color:white;
        left:50%;
        top:35%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
    h1{
        text-align: center;
        font-family:  'Montserrat', sans-serif;
        font-weight: 700;
        font-style: italic;
        color:$mint;
        left:50%;
        top:50%;
        position: absolute;
        transform: translate(-50%, -50%);
        padding:0;
    }

    h4 {
        color:$white;
        font-family:  'Montserrat', sans-serif;
        left:60%;
        top:15%;
        font-weight: 100;
        position: absolute;
    }

    h3 {
        color:$white;
        left:20%;
        top:70%;
        position: absolute;
    }

     
}

section {
  width:100%;
  min-height: 100vh;
  display: block;

  h2 {
    padding-top: 0.8em;
    padding-left: 0.8em;

    @include respond-to(sm) {
      padding-top: 0.5em;
      padding-left:0.5em;
      font-size: 6.5em;
    }
  }

  .box {
    width:80%;
    margin: 0 auto;
    padding: 3em 0 5em 0;

    @include respond-to(md) {
      padding: 2em 0 4em 0;
    }
  }

  .box-box {
    border:1px solid #000000;
    padding:6em;
    @include respond-to(md) {
      padding: 4em;
    }
    @include respond-to(sm) {
      padding:2em;
    }
  }
}

.info {
  h5 {
    margin-bottom: 0.7em;
  }

  p {
    margin-bottom: 1em;
  }
}
.info-detail {
  ul.info-list {
    margin:0;
    padding:0;
    li {
      font-size: 1.5em;
      display: flex;
      margin-bottom: 1.5em;

      @include respond-to(sm) {
        display: block;
      }

      span.label {
        font-weight: 700;
        min-width: 10em;

        @include respond-to(sm) {
          display: block;
          margin-bottom: 0.5em;
        }
      }

      .schedule {
        dl {
          display: flex;
          margin-bottom: 0.7em;
          dt {
            min-width: 7em;

            @include respond-to(sm) {
              min-width: 5em;
            }
          }
        }
      }

      ul.caution {
        list-style-type: decimal;
        padding-left:1.5em;
        li {
          font-size: 1em;
          display: list-item;
          @include respond-to(sm) {
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }
  
  
}

.reservation {
  min-height: unset;
  h4 {
    margin-bottom: 20px;
  }
  h5 {
    margin-bottom: 20px;
  }
  p {
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.news {
    background-image: url('./images/background.gif');
    background-repeat: repeat;
    background-size: cover;
    background-position: 0 -1000px;
    background-attachment: fixed;
    h2 {
      color:$mint;
    }

    h4 {
      color: white;
      margin-bottom: 5px;
    }

    .box {
      display: flex;
      justify-content: space-between;

      .twitter-box {
        width:49.5%;

        .twitter-timeline {
          width:100%;
        }
      }

      @include respond-to(md) {
        display: block;
        .twitter-box {
          width:100%;

          &:first-child {
            margin-bottom: 4em;
          }
        }
      }
    }
}

.booth-list {
  background-image: url('./images/background.gif');
    background-repeat: repeat;
    background-size: cover;
    background-position: 0 -2000px;
    background-attachment: fixed;
    h2 {
      color:$mint;
    }

    .list-table {
      background-color: #fff;
      font-size: 1.2em;

      table {
        width:100%;
        border-collapse: collapse;
        word-break: break-all;
      }

      thead {
        background-color: #000000;
        color:#fff;
        th {
          padding:10px;
          border-right:1px solid white;
        }
      }

      tbody {
        td {
          padding:10px;
          border-right:1px solid #000000;
        }

        tr {
          border-bottom: 1px solid #000000;

          td:first-child {
            text-align: center;
          }
        }
      }
    }

    .booth-list-down {
      display: block;
      font-size: 2em;
      text-align: center;
      padding:20px;
      color:#fff;
    }

    h4 {
      color:#fff;
    }

    .booth-notice {
      margin-top: 50px;
      h4 {
        margin-bottom: 10px;
      }

      .booth-notice-box {
        display: flex;
        justify-content: space-between;

        > div {
          width:49.5%;
        }

        @include respond-to(md) {
          display: block;

          > div {
            width:100%;

            &:first-child {
              margin-bottom: 2em;
            }
          }
        }
      }

      .notice-box {
        background-color: #fff;
          border-radius: 20px;
          padding: 1.5em;

          h5 {
            margin-bottom: 10px;
          }

          p, ul {
            font-size: 1.4em;
            line-height: 1.4;
            margin-bottom: 1.5em;
          }

          ul {
            padding-left: 1em;
          }
      }
    }
    
}