@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
@media only screen and (max-width: 1279px) {
  body {
    font-size: 11px;
  }
}
@media only screen and (max-width: 700px) {
  body {
    font-size: 9px;
  }
}

h1 {
  margin-top: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
img {
  font: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus,
img:focus {
  outline: 0;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

section {
  word-break: keep-all;
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #888888;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 10em;
}

h2 {
  font-size: 8em;
  word-break: break-all;
}

h3 {
  font-size: 6em;
}

h4 {
  font-size: 4em;
}

h5 {
  font-size: 2em;
}

h6 {
  font-size: 1.4em;
}

p {
  font-size: 1.4em;
  margin: 0;
}

body {
  font-family: "Pretendard", sans-serif;
  overflow-x: hidden;
}

.title {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("./images/background.gif");
  background-repeat: repeat;
  background-size: 100%;
  background-position: 0 0;
  background-attachment: fixed;
}
.title h5 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: white;
  left: 50%;
  top: 35%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.title h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #00ff7e;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 0;
}
.title h4 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  left: 60%;
  top: 15%;
  font-weight: 100;
  position: absolute;
}
.title h3 {
  color: #ffffff;
  left: 20%;
  top: 70%;
  position: absolute;
}

section {
  width: 100%;
  min-height: 100vh;
  display: block;
}
section h2 {
  padding-top: 0.8em;
  padding-left: 0.8em;
}
@media only screen and (max-width: 700px) {
  section h2 {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 6.5em;
  }
}
section .box {
  width: 80%;
  margin: 0 auto;
  padding: 3em 0 5em 0;
}
@media only screen and (max-width: 1279px) {
  section .box {
    padding: 2em 0 4em 0;
  }
}
section .box-box {
  border: 1px solid #000000;
  padding: 6em;
}
@media only screen and (max-width: 1279px) {
  section .box-box {
    padding: 4em;
  }
}
@media only screen and (max-width: 700px) {
  section .box-box {
    padding: 2em;
  }
}

.info h5 {
  margin-bottom: 0.7em;
}
.info p {
  margin-bottom: 1em;
}

.info-detail ul.info-list {
  margin: 0;
  padding: 0;
}
.info-detail ul.info-list li {
  font-size: 1.5em;
  display: flex;
  margin-bottom: 1.5em;
}
@media only screen and (max-width: 700px) {
  .info-detail ul.info-list li {
    display: block;
  }
}
.info-detail ul.info-list li span.label {
  font-weight: 700;
  min-width: 10em;
}
@media only screen and (max-width: 700px) {
  .info-detail ul.info-list li span.label {
    display: block;
    margin-bottom: 0.5em;
  }
}
.info-detail ul.info-list li .schedule dl {
  display: flex;
  margin-bottom: 0.7em;
}
.info-detail ul.info-list li .schedule dl dt {
  min-width: 7em;
}
@media only screen and (max-width: 700px) {
  .info-detail ul.info-list li .schedule dl dt {
    min-width: 5em;
  }
}
.info-detail ul.info-list li ul.caution {
  list-style-type: decimal;
  padding-left: 1.5em;
}
.info-detail ul.info-list li ul.caution li {
  font-size: 1em;
  display: list-item;
}
@media only screen and (max-width: 700px) {
  .info-detail ul.info-list li ul.caution li {
    margin-bottom: 0.5em;
  }
}

.reservation {
  min-height: unset;
}
.reservation h4 {
  margin-bottom: 20px;
}
.reservation h5 {
  margin-bottom: 20px;
}
.reservation p {
  line-height: 1.4;
  margin-bottom: 20px;
}

.news {
  background-image: url("./images/background.gif");
  background-repeat: repeat;
  background-size: 100%;
  background-position: 0 -1000px;
  background-attachment: fixed;
}
.news h2 {
  color: #00ff7e;
}
.news h4 {
  color: white;
  margin-bottom: 5px;
}
.news .box {
  display: flex;
  justify-content: space-between;
}
.news .box .twitter-box {
  width: 49.5%;
}
.news .box .twitter-box .twitter-timeline {
  width: 100%;
}
@media only screen and (max-width: 1279px) {
  .news .box {
    display: block;
  }
  .news .box .twitter-box {
    width: 100%;
  }
  .news .box .twitter-box:first-child {
    margin-bottom: 4em;
  }
}

.booth-list {
  background-image: url("./images/background.gif");
  background-repeat: repeat;
  background-size: 100%;
  background-position: 0 -2000px;
  background-attachment: fixed;
}
.booth-list h2 {
  color: #00ff7e;
}
.booth-list .list-table {
  background-color: #fff;
  font-size: 1.2em;
}
.booth-list .list-table table {
  width: 100%;
  border-collapse: collapse;
  word-break: break-all;
}
.booth-list .list-table thead {
  background-color: #000000;
  color: #fff;
}
.booth-list .list-table thead th {
  padding: 10px;
  border-right: 1px solid white;
}
.booth-list .list-table tbody td {
  padding: 10px;
  border-right: 1px solid #000000;
}
.booth-list .list-table tbody tr {
  border-bottom: 1px solid #000000;
}
.booth-list .list-table tbody tr td:first-child {
  text-align: center;
}
.booth-list .booth-list-down {
  display: block;
  font-size: 2em;
  text-align: center;
  padding: 20px;
  color: #fff;
}
.booth-list h4 {
  color: #fff;
}
.booth-list .booth-notice {
  margin-top: 50px;
}
.booth-list .booth-notice h4 {
  margin-bottom: 10px;
}
.booth-list .booth-notice .booth-notice-box {
  display: flex;
  justify-content: space-between;
}
.booth-list .booth-notice .booth-notice-box > div {
  width: 49.5%;
}
@media only screen and (max-width: 1279px) {
  .booth-list .booth-notice .booth-notice-box {
    display: block;
  }
  .booth-list .booth-notice .booth-notice-box > div {
    width: 100%;
  }
  .booth-list .booth-notice .booth-notice-box > div:first-child {
    margin-bottom: 2em;
  }
}
.booth-list .booth-notice .notice-box {
  background-color: #fff;
  border-radius: 20px;
  padding: 1.5em;
}
.booth-list .booth-notice .notice-box h5 {
  margin-bottom: 10px;
}
.booth-list .booth-notice .notice-box p, .booth-list .booth-notice .notice-box ul {
  font-size: 1.4em;
  line-height: 1.4;
  margin-bottom: 1.5em;
}
.booth-list .booth-notice .notice-box ul {
  padding-left: 1em;
}

/*# sourceMappingURL=styles.css.map */
